.DS_Store
*/.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
data/raw/*.csv
data/raw/*.json
data/processed/*.csv
!data/catalogues/CountriesCatalogues.xlsx
*/__py_cache__/*
*/.Rhistory
*/.RData
reports/figures/*.svg
reports/tables/*.tex